@import 'bourbon';
@import 'pure-min';
@import 'clrs';
@import 'font-awesome';
@import '_modules/*';

//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);


body {
    font-family: $monospace;
    background: url(../images/wall6.jpg) no-repeat fixed;
    background-size: cover;
}

.pure-g [class*="pure-u"]{
    font-family: $monospace;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 1em auto;
}

.sidebar {
    background: $navy;
    color: #fff;
    padding: 1em;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    margin-bottom: 4%;
}
.brand-tagline {
    font-weight: 500;
    font-size: 100%;
    color: #aaa;//rgb(176, 202, 219);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 5%;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    border-bottom: 1px solid rgba(176, 202, 219, 0.4);
    color: #ccc;
    margin-top: 1em;
    letter-spacing: 0.2em;
    //text-transform: uppercase;
    font-size: 85%;
    font-weight: 700;

}
.nav-item a:hover,
.nav-item a:focus {
    color: $white;
    border-bottom: 1px solid $white;
    text-decoration: none;
    @include transition (all 0.5s ease-in-out);
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em;
}



.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 0 0;
        margin-left: 20%;
    }

    .header {
        margin: 10% 2em 0;
        text-align: right;
    }

    .brand-tagline {
        margin-top: 33%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .nav-item {
      display: list-item;
      //*display: inline;
      margin-top: 5%;
    }
}



