@import 'bourbon';
@import 'clrs';
@import 'pure-min';
@import 'font-awesome';
@import '_modules/*';

.intro-body {
  padding: 4% 22% 5% 20%;
  text-align: right;
  h1 {
    text-align: right;
    font-size: 5em;
    font-weight: 800;
    color: #d0021a;
    text-transform: uppercase;
    margin-bottom: 0%;
    //text-shadow: 1px 0px #fff;
  }

  h4 {
    text-align: right;
    color: #fff;
    font-weight: 800;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
  }

  .intro-triangle {
    float: right;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 3em 5em;
    border-color: #d0021a transparent #d0021a transparent;
    @include transition (all 0.5s ease-in-out);
    &:hover {
      color: #fff;
      border-color: #fff transparent #fff transparent;
    }
  }
}


@media screen and (max-width: 64em) {
  .intro-body {
    h1 {
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 35.5em) {
  .intro-body {
    h1 {
      font-size: 2em;
    }
    h4 {
      font-size: 1em;
    }
  }
}


//Photo Sections

.photo-section {
  //padding-right: 1%;
  //padding-left: 1%;
  //width: 100%;
  //min-width: 100%;
  color: #fff;
  //margin-top: -1em; 
  .section-name {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
    margin: 0;
  }
  

 

  @media screen and (max-width: 48em) {
    .section-name {
      font-size: 0.5em;
      margin: 2% 0 0 0;
    }
  }

} 

#gallery {
  .item img{
    width: 25%
  }  
  .item2 img{
    width: 50%;
  }
}
