@import 'bourbon';
@import 'clrs';
@import 'pure-min';
@import 'font-awesome';
@import '_modules/*';
.sidebar {
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 5%;
}

.header {
    text-align: center;
    top: 0;
    margin: 0;
}

.brand-title,
.tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    margin-bottom: 0%;
    letter-spacing: -1px;
    text-shadow: 1px 0px $black;
    //background-color: rgba(100, 100, 100, 0.5);
    a {
      color: #fff;
    }
}

.brand-mail a,
.brand-phone a{
  text-decoration: none;
  font-size: 105%;
  font-weight: 700;
  color: #fff;
  text-align: left;
}


.tagline {
    font-weight: 200;
    font-size: 80%;
    color: #aaa;//rgb(176, 202, 219);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 2%;
    .fa {
      font-size: 200%;
    }
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-top: 1%;
}

.nav-item a {
    background: transparent;
    border-bottom: 1px solid rgba(176, 202, 219, 0.4);
    color: #ccc;
    margin-top: 1em;
    letter-spacing: 0.01em;
    //text-transform: uppercase;
    font-size: 100%;
    font-weight: 700;

}
.nav-item a:hover,
.nav-item a:focus {
    color: $white;
    border-bottom: 1px solid $white;
    text-decoration: none;
    background-color: $black;
    @include transition (all 0.5s ease-in-out);
}

.is-active {
  a{
    border-bottom: 2px solid $white;
    color: $white;
    background-color: $black;
  }
}

@media (min-width: 48em) {
    .header {
        //padding: 10%;
        //margin: 3em;
        text-align: right;
        //padding-right: 5%;
    }

    .tagline {
        margin-top: 20%;
    }

    .brand-title {
        margin-bottom: 0%;
        //font-size: 150%;
      
    }

    .brand-mail {
      margin-bottom: 25%;
    }

    .sidebar {
      padding: 1%;
      position: fixed;
      top: 0;
      bottom: 0;
      overflow: auto;
      //outline: none;
      border-right: 1px solid $gray;
    }

    .nav-item {
      display: list-item;
      //*display: inline;
      margin-top: 3%;
    }
}