.fadein.load {
  opacity: 1;
}

.fadein {
  opacity: 0;
  -webkit-transition: opacity 6.25s ease;
  -moz-transition: opacity 6.25s ease;
  -o-transition: opacity 6.25s ease;
  -ms-transition: opacity 6.25s ease;
  transition: opacity 6.25s ease;
}