video#video_background {
position: absolute;
bottom: 0;
right: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
//overflow: hidden;
}

#video_pattern {
background-image: url("../images/pattern.png");
position: fixed;
opacity: 0.8;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: -100;
}