video#video_background {
position: fixed;
bottom: 0;
right: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
background-image: url("../images/dog.jpg");
background-size: cover;
//overflow: hidden;
}

#video_pattern {
background: url("../images/pattern.png");
//background-size: cover;
position: fixed;
opacity: 0.8;
left: 0px;
top: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
}