---
title: 'Фотоработы: животные'
body_class: photo
---

%section.photo-section
  %h4.section-name Фото/животные
  .gallery#gallery.js-masonry{"data-masonry-options" => "{ \"columnWidth\": 100, \"itemSelector\": \".item\" }"}
    .item=image_tag '/images/wall6.jpg'
    .item2=image_tag '/images/dog.jpg'
    .item=image_tag '/images/wall6.jpg'
    .item2=image_tag '/images/wall6.jpg'
    .item=image_tag '/images/wall6.jpg'
    .item2=image_tag '/images/wall6.jpg'
    .item=image_tag '/images/wall6.jpg'
    .item2=image_tag '/images/wall6.jpg'
