---
title: "Фотоработы"
body_class: index
---

%section.photo-section
  %h4.section-name Фотоработы
  %h4.section-name Выберите категорию:

  %ul
    %li=link_to 'Портрет',   '/photo/portrait.html'
    %li=link_to 'Репортаж',  '/photo/reportage.html'
    %li=link_to 'Предметы',  '/photo/object.html'   
    %li=link_to 'Город',     '/photo/city.html'     
    %li=link_to 'Сцена',     '/photo/scene.html'    
    %li=link_to 'Животные',  '/photo/animals.html'
    %li=link_to 'Спорт',     '/photo/sport.html'    
