---
title: 'Фотоработы: предметная фотосъемка'
body_class: photo-object
---

%section.photo-section
  %h4.section-name Фотоработы/предметы

  #container
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c615/PtMnVPr20FI.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c615/PtMnVPr20FI.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c61e/S0_fIS25S5g.jpg", class: 'zoombox zgallery1' do 
        =image_tag "http://cs616516.vk.me/v616516633/1c61e/S0_fIS25S5g.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c60c/qA_sq8lDb90.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c60c/qA_sq8lDb90.jpg" 
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5fb/SAMCDMXWCBw.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c5fb/SAMCDMXWCBw.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5f3/KPPgv461Bcg.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c5f3/KPPgv461Bcg.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5eb/ApNQD3vT9sY.jpg", class: 'zoombox zgallery1' do 
        =image_tag "http://cs616516.vk.me/v616516633/1c5eb/ApNQD3vT9sY.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5e3/G3F3SyQV47w.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c5e3/G3F3SyQV47w.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5db/iXwzTQlquXw.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c5db/iXwzTQlquXw.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5d3/im3uPtmgCGU.jpg", class: 'zoombox zgallery1' do 
        =image_tag "http://cs616516.vk.me/v616516633/1c5d3/im3uPtmgCGU.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c5cb/FU4jOCnkqBA.jpg", class: 'zoombox zgallery1' do
        =image_tag "http://cs616516.vk.me/v616516633/1c5cb/FU4jOCnkqBA.jpg"
    .element#box
      =link_to  "http://cs616516.vk.me/v616516633/1c604/jJ1OWWN3XVc.jpg", class: 'zoombox zgallery1' do 
        =image_tag "http://cs616516.vk.me/v616516633/1c604/jJ1OWWN3XVc.jpg" 