---
title: 'Фотоработы: предметная фотосъемка'
body_class: photo
---

%section.photo-section
  %h4.section-name Фото/предмет

  .pure-g#photo-content
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag '/images/dog.jpg', class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая
    .pure-u-1-1.pure-u-lg-1-2
      .i-box
        =link_to "#" do
          =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
          .i-box-overlay
          .i-box-caption
            %span Зверушка красивая прекрасная любимая чудная неповторимая экзистенциально непознаваемая абстрактная неприхотливая