---
title: 'Фотоработы: спорт'
body_class: photo
---

%section.photo-section
  %h4.section-name Фото/спорт

  .pure-g
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'
    .pure-u-1-2.pure-u-lg-1-4
      =image_tag lorem.image('1000x1000'), class: 'pure-img-responsive'