---
title: 'Видеоработы: музыка'
body_class: video-music
---

%section.video-section
  %h4.section-name Видеоработы/музыка

  #container
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/gIEsoXMi3PY" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/SRvtoVyjKD8" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/usoHmmsmzSk" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/hYPjVgxSzrY" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//player.vimeo.com/video/80937195" } 
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//player.vimeo.com/video/94544244" }

