---
title: 'Видеоработы: промо'
body_class: video-promo
---

%section.video-section
  %h4.section-name Видеоработы/промо

  #container
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/ukd9FIP2TY0" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/1O5EEzB_itM" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/TjLzqTVT95I" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/SmVOd5Q7s1A" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/xuWVuYdSP6U" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/5iOORqTLXBg" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/JdzMOL18oRU" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/PP43T5h7pDc" }
              