---
title: 'Видеоработы: социальные'
body_class: video-social
---

%section.video-section
  %h4.section-name Видеоработы/социальные

  #container
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//player.vimeo.com/video/81985660" } 


/<iframe src="//player.vimeo.com/video/81985660" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/81985660">560 ХВОСТОВ</a> from <a href="http://vimeo.com/arcticnoise">ArcticNoise</a> on <a href="https://vimeo.com">Vimeo</a>.</p>