---
title: 'Видеоработы: спорт'
body_class: video-sport
---

%section.video-section
  %h4.section-name Видеоработы/спорт

  #container
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/8XBmOBrQ9ZQ" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/MnOFk4FpJ28" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//player.vimeo.com/video/90774796" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/lO4PJCFpqkw" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/inuNRzH3i30" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/UFZpyebhm50" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/A40F5u4aGi8" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/cuGSCmkHcwU" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/O0f_mlgOgyI" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/vbpsnmfKVBI" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/e31vncpzrTo" }
    .video-container.element
      %iframe{:allowfullscreen => "", 
              :frameborder => "0", 
              :src => "//www.youtube.com/embed/OUQpiCqxqJw" }