%footer.footer

  .social
    %ul

      = link_to "/" do
        %li
          %i.fa.fa-home
          
      = link_to "http://arcticnoise.tumblr.com" do
        %li
          %i.fa.fa-tumblr

      = link_to "http://vk.com/arcticnoise_cm" do  
        %li
          %i.fa.fa-vk
      