---
title: First Page
body_class: index
---

.content.pure-u-1.pure-u-md-3-4
  %div
    %h1.content-subhead Content Subhead

    %section
      %div
        Message

        =link_to 'Button', '/', class: 'pure-button pure-button-primary'

