---
body_class: index
---


%section.intro
  %video#video_background.fadein{:autoplay => "true", :loop => "loop", :muted => "muted", :preload => "auto", :volume => "0"}
    %source{:src => "assets/videos/vid1.webm", :type => "video/webm"}
    %source{:src => "assets/videos/vid1.mp4", :type => "video/mp4"}
    Video not supported
  #video_pattern


  
